<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GPV.My.MySettings.gpvConnectionString" connectionString="Data Source=DESKTOP-S1CB6N1\SQLEXPRESS;Initial Catalog=GPV;Integrated Security=True" providerName="System.Data.SqlClient"/>
      <add name="ConexionPrueba" connectionString="server=DESKTOP-KK3MK79\SQLEXPRESS; database=GPV; integrated security=true" providerName="System.Data.SqlClient"/>
      <add name="GPVLaser" connectionString="server=USER-PC\GPVSQL; database=GPV; integrated security=true" providerName="System.Data.SqlClient"/>
		<add name="ConexionGPV" connectionString="server=DESKTOP-9EGVD8G\SQLEXPRESS; database=GPV; integrated security=true" providerName="System.Data.SqlClient"/>
	<add name="ConexionLap" connectionString="server=DESKTOP-VPHFQ6C\SQLEXPRESS; database=GPV; integrated security=true" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
